---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-cube">
  <main>
    <article class=" prose wrapper">
      <em>TEIG.dev</em>
      <small>Teig [German for "dough"], an elastic, cohesive, and resilient substance.</small>
    </article>
    <article class="region prose wrapper hero">
      <h1>🍞 The <em>European</em> infra group</h1>

      <h2>
        A community to chat all things european software <em>infra</em>
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>↳ Join Discord</h3>
        </li>

        <li class="flow">
          <h3>↳ The Landscape</h3>
        </li>
      </ul>
    </article>

    <footer class="region prose wrapper">
      <small>contact: Morris Clay - mail@morrisclay.com</small><br />
      <small>Website made with astro - template by <a href="https://github.com/williamhzo/astro-cube">@williamhzo</a></small>
    </footer>
  </main>
</Layout>
